body.gutenberg-editor-page .editor-post-title__block,
body.gutenberg-editor-page .editor-default-block-appender,
body.gutenberg-editor-page .editor-block-list__block {
  max-width: 844px; }

body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
  max-width: 1200px; }

body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
  max-width: none; }


