$body-background: #fff;
$body-color: #494c4e;
$body-link-color: #B05F3C;
$body-highlight: #f00;
$main-background: #C98A4B;
$main-color: #fff;
$main-background-highlight: rgba(255,255,255,0.2);
$main-highlight: #f00;

@import "theme_main";
