$body-background: #fff;
$body-color: #59955c;
$body-link-color: #6ca870;
$body-highlight: #ff5353;
$main-background: #59955c;
$main-color: #fff;
$main-background-highlight: rgba(255,255,255,0.2);
$main-highlight: #ff5353;

@import "theme_main";
