$body-background: #fff;
$body-color: #494c4e;
$body-link-color: #ff4848;
$body-highlight: #0000ce;
$main-background: #ff4848;
$main-color: #fff;
$main-background-highlight: rgba(255,255,255,0.2);
$main-highlight: #29afd6;

@import "theme_main";
