$body-background: #fff;
$body-color: #494c4e;
$body-link-color: #2B3856;
$body-highlight: #f00;
$main-background: #E7F3F1;
$main-color: #2B3856;
$main-background-highlight: rgba(0,0,0,0.2);
$main-highlight: #f00;

@import "theme_main";
