/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-main{position:relative}
/*.nivoSlider {background: url(images/loading.gif) no-repeat center center #fff;}*/
.nivoSlider{position:relative;width:100%;height:550px;overflow:hidden}
.nivoSlider img{position:absolute;top:0;left:0;max-width:none;object-fit:cover;height:100%!important}
.nivo-main-image{display:block!important;position:relative!important;width:100%!important}
.nivoSlider a.nivo-imageLink{position:absolute;top:0;left:0;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;background:#fff;filter:alpha(opacity=0);opacity:0}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden}
.nivo-box img{display:block}
.nivo-caption{position:absolute; text-align:center; left:0; right:0; top:50%; transform:translateY(-50%); color:#fff;width:55%;z-index:8; padding:0; margin:0 auto; overflow:hidden;display:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:auto}
.nivo-caption p{padding:5px;margin:0}
.nivo-html-caption{display:none}
.nivo-directionNav a{position:absolute;top:40%;z-index:9;cursor:pointer}
a.nivo-prevNav{left:20px;background-position:-57px 0;border-radius:0}
a.nivo-nextNav{right:20px;background-position:-41px 0!important}
.nivo-controlNav{text-align:center;padding:15px 0;position:absolute;text-align:center;width:100%;bottom:0;z-index:9}
.nivo-controlNav a{cursor:pointer;box-shadow:1.5px 1.5px 0 #000 inset;-moz-box-shadow:1.5px 1.5px 0 #000 inset;-webkit-box-shadow:1.5px 1.5px 0 #000 inset;-o-box-shadow:1.5px 1.5px 0 #000 inset;border:0 none;display:inline-block;height:15px;margin:0 4px;text-indent:-9999px;width:15px;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;-o-border-radius:15px}
.nivo-directionNav a{background:#fff;border:0 none;display:block;height:54px;opacity:1;transition:all 200ms ease-in-out 0;width:54px;padding:0;color:#078fdf;line-height:54px; text-align:center; box-sizing:border-box; font-size:20px; font-weight:500;}
#slider:hover .nivo-directionNav a{opacity:.8}
#slider{max-width:100%;margin:0 auto;padding:0;position:relative}
#slider .slide-inner{margin:0;padding:16px 0 20px;position:relative;}
#slider .slide-inner h2{margin-bottom:10px;color:#fff;font-family:'Montserrat',sans-serif;font-size:50px;text-transform:uppercase;line-height:44px;font-weight:900}
#slider p{font-family:'Montserrat';font-size:13px;color:#fff;padding:10px 0 0;line-height:26px}
#slider .slide_more{font-family:'Montserrat';font-size:15px;color:#fff;background:#7544f3;padding:13px 36px;margin:30px auto 0;display:inline-block;}