.buzzo-input {
  background: none;
  border: 0;
  border-bottom: 2px solid $color__form-border;
  padding: 15px 20px;
  outline: 0;
  width: 100%;
  margin-bottom: 25px;

  @include font-size(14);
}

textarea.buzzo-input {
  height: 150px;
}

.buzzo-button {
  background: none;
  border: 0;
  padding: 0;
  color: $color__form-button;
  font-family: $font__secondary;
  line-height: 13 / 15 * 1em;

  @include font-size(15);

  span {
    border-bottom: 1px solid $color__form-button;
  }

  i {
    margin-left: 5px;

    @include font-size(12);
  }
}
