@charset "UTF-8";

a { color:magenta; }

label[for="toggle-left"],
.custom-post-thumbnail p,
.searchform,
.entry-thumbnail p,
.navigation li a:hover { background:magenta; }

.front-top .widget:hover { border-top-color:magenta; }

.sidebar .widget:hover { border-bottom-color:magenta; }
 